{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Links list</h1>
</div>

    <table  class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>url</th>
                <th>short url</th>
                <th>created at</th>
                <th>uses count</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td><a href="{{ path('link_show', { 'id': link.id }) }}">{{ link.id }}</a></td>
                <td>{{ link.url }}</td>
                <td>{{ link.shortUrlId }}</td>
                <td>{% if link.createdAt %}{{ link.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ link.usesCount }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('link_new') }}">Create a new link</a>
        </li>
    </ul>
{% endblock %}
