{% extends 'base.html.twig' %}

{% block body %}
    <h1>Share this link</h1>

    <table>
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ link.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>URL</th>#}
                {#<td>{{ link.url }}</td>#}
            {#</tr>#}
            <tr>
                <th>Short link</th>
                <td>{{ url('homepage') }}{{ link.shortUrlId }}</td>
            </tr>
            {#<tr>#}
                {#<th>Createdat</th>#}
                {#<td>{% if link.createdAt %}{{ link.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Uses Count</th>#}
                {#<td>{{ link.usesCount }}</td>#}
            {#</tr>#}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('link_index') }}">Back to the list</a>
        </li>
        {#<li>#}
            {#<a href="{{ path('link_edit', { 'id': link.id }) }}">Edit</a>#}
        {#</li>#}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
